* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    font-family:'Times New Roman', Times, serif, Helvetica, sans-serif;
    background-color:#c5c8ca;
    color:#333;
}


nav{
    background-color:#222;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    color:white;
}

nav ul {
    list-style:none;
    display:flex;
}

nav ul li {
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:#98eaf8;
}


.section{
    padding: 60px 40px;
    text-align: center;
}

.section h2{
    margin-bottom: 20px;
    color: #222;
}

.section p{
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

.about img{
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.skills-box {
    margin-bottom: 25px;
}

.skills-box span {
    display: inline-block;
    background-color: #4d5050;
    color: white;
    padding: 10px 16px;
    margin: 8px;
    border-radius: 20px;
    font-size: 30 px;
    transition: transform 0.3s;
}

.skills-box span:hover {
    transform: scale(1.1);
}


.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}

.project-card {
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-card h3 {
    margin-bottom: 10px;
}


.cert-list {
    list-style: none;
    max-width: 600px;
    margin: auto;
}

.cert-list li {
    background: white;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


#contact p {
    margin: 8px 0;
}


footer{
    background-color:#222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

@media (max-width: 768px){
    nav {
        flex-direction:column;
    }

    nav ul{
        margin-top:10px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .about{
        flex-direction: column;
    }
}
